.InputfieldVimeoData {
  float: right;
  width: 69%;
}

.InputfieldVimeo button {
  float: right;
  width: 69%;
}

.InputfieldVimeoUser button {
  float: right;
  margin-left: 1%;
  width: 34%;
}

.InputfieldVimeo .clear,
.InputfieldVimeoUser .clear {
  clear: both;
}

.InputfieldVimeoResponse {
  font-size: 0.8em;
  color: #db1174;
}

.InputfieldVimeoVideo {
  float: left;
  width: 30%;
  text-align: center;
}

.InputfieldVimeoVideo img {
  display: inline-block;
  max-width: 100%;
}

.InputfieldVimeoData .FieldtypeTextarea {
  margin-top: 0.25em;
}

.InputfieldVimeoData .InputfieldVimeoDelete {
  cursor: pointer;
  position: absolute;
  right: 1em;
  font-size: 1.25em !important;
}

.InputfieldVimeoData .InputfieldVimeoRefresh {
  cursor: pointer;
  position: absolute;
  right: 2.4em;
  font-size: 1.25em !important;
}

.InputfieldVimeoData .InputfieldHeader {
  position: relative;
}

.InputfieldVimeo .fa-plus-circle,
.InputfieldVimeoUser .fa-plus-circle {
  font-size: 1.15em !important;
}